.body-main{
    width: 400px;
    height: 450px;
    border: 1px black solid;
    margin: 100px auto 0px auto;
    text-align: center;
}
.success{
    background-color: green;
}
.danger{
    background-color: red;
}